//variables #####################
$main-color: rgb(5, 7, 25);
$secondary-color: rgb(146, 13, 78);
//###########################
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

body {
  background-color: $main-color;
}

.navbar {
  background-color: transparent !important;
  padding: .5rem 1rem;
  .navbar-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
  }
  *{
    color: white;
    &:hover , &:active , &:focus {
      color: $secondary-color !important;
    }
  }
  .navbar-brand {
    width: 90px;
    img {
      width: 100% ;
    }
  }
  .nav-link {
    color: white;

    &:hover, &:active , &:focus  {
      color: $secondary-color !important;
    }
    &.disabled {
      opacity: 30%;
    }
    &.active {
      color: $secondary-color !important;
      position: relative;

      &::before {
        content: "";
        width: 100%;
        height: 1px;
        position: absolute;
        background-color: $secondary-color;
        bottom: 3px;
        box-shadow: 0 0 10px rgb(199, 26, 111);
        transform: translateX(-5%);
      }
    }
  }
}